// Colors:
$blue:  #181AAA;
$lightBlue : #8284FF;
$purple : #696BFF;
$brown : #B39825;
$yellow : #FFE369;


$forest: #015249;
$marine: #57BC90;
$grey: #A5A5AF;
$white: #FFFFFF;

// heights and widths
$topHeight: 10vh;
$bottomHeight: 10vh;
$contentHeight: 100vh - $bottomHeight - $topHeight;

$headButtonWidth: 10vw;
$headTitleWidth: 20vw;
$emptySpaceWidth: 100vw - 3*$headButtonWidth - $headTitleWidth;

$postHeight: 35vw;
$postWidth: 20vw;
$postMargin: 6vw;



// The whole body

body {
   
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mainContent {
    display: flex;
    flex-direction: row;

}


// Header of page

header {
    background-color: $white;
    min-width: 100%;
    min-height: $topHeight;

    display: flex;
    flex-direction: row-reverse;

}

#logo {
    height: $topHeight;
    overflow: hidden;
}

#emptySpace{
    width: $emptySpaceWidth;
}

#titleContainer{
    display: flex;
    align-items: center;
}

#titleBar{
    text-align: right;

    vertical-align: bottom;
    width: $headTitleWidth;
    font-size: 50px;
    
}

.headButton {
    font-size: 30px;
    width: $headButtonWidth;
    text-align: center;
    height: $topHeight;
    line-height: $topHeight;
}




// Content of the page

.side {
    min-height: $contentHeight;
    flex: $headButtonWidth;
    background-color: $white;
}

section {
    //background-color: $lightBlue;
    display: flex;
    width: 100px;
    flex: 100vw - 2*$headButtonWidth;
    min-height: $contentHeight;
    flex-direction: row;
    
}

.post {
    margin-top: $postMargin;
    margin-left: $postMargin;
    background-color: black;
    height: $postHeight;
    width: $postWidth; 
}

.postPhoto {
    height: 90%;
    width: 100%;
    padding: 0;
}

.postDescription{
    //background-color: $brown;
    color: $white;
    height: 7.5%;
    margin-top: 2.5%;
    text-align: center;
    font-size: 3vh;
    
}

// Bottom of the page

footer{
    background-color: black;
    flex: 100%;
    min-height: $bottomHeight;
}

