body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.mainContent {
  display: flex;
  flex-direction: row; }

header {
  background-color: #FFFFFF;
  min-width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: row-reverse; }

#logo {
  height: 10vh;
  overflow: hidden; }

#emptySpace {
  width: 50vw; }

#titleContainer {
  display: flex;
  align-items: center; }

#titleBar {
  text-align: right;
  vertical-align: bottom;
  width: 20vw;
  font-size: 50px; }

.headButton {
  font-size: 30px;
  width: 10vw;
  text-align: center;
  height: 10vh;
  line-height: 10vh; }

.side {
  min-height: 80vh;
  flex: 10vw;
  background-color: #FFFFFF; }

section {
  display: flex;
  width: 100px;
  flex: 80vw;
  min-height: 80vh;
  flex-direction: row; }

.post {
  margin-top: 6vw;
  margin-left: 6vw;
  background-color: black;
  height: 35vw;
  width: 20vw; }

.postPhoto {
  height: 90%;
  width: 100%;
  padding: 0; }

.postDescription {
  color: #FFFFFF;
  height: 7.5%;
  margin-top: 2.5%;
  text-align: center;
  font-size: 3vh; }

footer {
  background-color: black;
  flex: 100%;
  min-height: 10vh; }
