// Colors:
$blue: #77C9D4;
$forest: #015249;
$marine: #57BC90;
$grey: #A5A5AF;
$white: #FFFFFF;

// heights and widths
$topHeight: 10vh;
$bottomHeight: 10vh;
$contentHeight: 100vh - $bottomHeight - $topHeight;

$headButtonWidth: 10vw;
$headTitleWidth: 20vw;
$emptySpaceWidth: 100vw - 3*$headButtonWidth - $headTitleWidth;

$postHeight: 20vw;
$postWidth: 20vw;
$postMargin: 6vw;



// The whole body

body {
   
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    
}

.mainContent {
    display: flex;
    flex-direction: row;

}


// Header of page

header {
    background-color: $white;
    min-width: 100%;
    min-height: $topHeight;

    display: flex;
    flex-direction: row-reverse;

}


#emptySpace{
    width: $emptySpaceWidth;
}

#titleContainer{
    display: flex;
    align-items: center;
}

#titleBar{
    text-align: right;

    vertical-align: bottom;
    width: $headTitleWidth;
    font-size: 50px;
    
}

.headButton {
    font-size: 30px;
    width: $headButtonWidth;
    text-align: center;
    height: $topHeight;
    line-height: $topHeight;
}

.headButton:hover {
    background-color: $blue;
}



// Content of the page

.side {
    min-height: $contentHeight;
    flex: $headButtonWidth;
    background-color: $white;
}

section {
    background-image: radial-gradient($forest,$blue);
    width: 100px;
    flex: 100vw - 2*$headButtonWidth;
    min-height: $contentHeight;
    opacity: 0.5;
    
}

.post {
    margin-left: $postMargin;
    background-color: $blue;
    height: $postHeight;
    width: $postWidth; 
}


// Bottom of the page

footer{
    background-color: $blue;
    flex: 100%;
    min-height: $bottomHeight;
}

