body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column; }

.mainContent {
  display: flex;
  flex-direction: row; }

header {
  background-color: #FFFFFF;
  min-width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: row-reverse; }

#emptySpace {
  width: 50vw; }

#titleContainer {
  display: flex;
  align-items: center; }

#titleBar {
  text-align: right;
  vertical-align: bottom;
  width: 20vw;
  font-size: 50px; }

.headButton {
  font-size: 30px;
  width: 10vw;
  text-align: center;
  height: 10vh;
  line-height: 10vh; }

.headButton:hover {
  background-color: #77C9D4; }

.side {
  min-height: 80vh;
  flex: 10vw;
  background-color: #FFFFFF; }

section {
  background-image: radial-gradient(#015249, #77C9D4);
  width: 100px;
  flex: 80vw;
  min-height: 80vh;
  opacity: 0.5; }

.post {
  margin-left: 6vw;
  background-color: #77C9D4;
  height: 20vw;
  width: 20vw; }

footer {
  background-color: #77C9D4;
  flex: 100%;
  min-height: 10vh; }
